body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: lightcyan;
}
.lenta {
  display: flex;
  gap: 40px;
  padding: 20px 80px;
  font-size: 100px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(70, 47, 6), rgb(128, 83, 2));
  box-shadow: 2px 2.5px orange;
}

.aikstele {
  display: flex;
  gap: 40px;
  padding: 0px 20px 10px;
  border: 2px dashed orange;
  border-radius: 5px;
}

h2 {
  font-size: 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
button {
  line-height: 50px;
  font-size: 30px;
  border-radius: 180px;
}

button:hover {
  transform: scale(1.1);
  animation-name: mygtukas;
  animation-duration: 2s;
}

@keyframes mygtukas {
  100% {
    background-color: rgb(61, 40, 2);
    transform: rotate(360deg);
  }
}
